body{
    background-color: #f7c4b7;
}
.hding{
    color:#fd3939;
    text-shadow: #0e0416;
}
.side{
    background-color: #f7cec8;
    width: 4rem;
}
.panel a:active
{

    color: orange !important;
}
ul {
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #f97b7b;
    color: white;
  }
.fdhead{
  color:#fa4949;
  text-shadow: 1px 1px  #590f2d;
}
.topimg{
  position: fixed;
}
.sidemenu{
  position: static;
  padding-left: 50px;
}
.sidefull{
  position: static;
  padding-right: 50px;
}
.topsideimg{
  position:static;
  padding-bottom: 70px;
}
.rebate{
  position: static;
  padding-top: 50px;
}
.rebatehead{
  position: static;
  padding-top: 2460px;
}
hr{
  margin-top: 100px;
  margin-left: 100px;
  color:#f66f4d;
}
.passwo{
  position: static;
  padding-bottom: 15px;
}
.counter
{
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #f67171;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
.counter-count:hover{
  background-color: #f85757;
}
.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
.feeshead{
  margin-top: 2000px;
}
