/* @tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c5252;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b6060;
}
.logos{
    margin-top: 10vh;
    padding-bottom: 5vh;
}
.box1{
    background-color: rgb(244, 215, 215);
}
.rounded-full{
    padding-left: 10vh;
}
.flip-box {
    background-color: rgb(244, 215, 215);
    width: 300px;
    height: 400px;
  border-radius: 5px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 80%;
    height: 50%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    width:100%;
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: transparent;
    color: rgb(121, 93, 93);
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(244, 215, 215);
    color: rgb(255, 248, 248);
    transform: rotateY(180deg);
  }
.outer{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}
.flip-box{
    padding-top: 3vh;
}

.hd{
  margin-top: 4vh;
  text-align: center;
}
.hd2{
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-align: left;
}
.flx{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}
@media screen and (max-width: 768px) {
  .flip-box:hover .flip-box-inner {
    width:100%;
    transform: rotateY(180deg);
  }
  .hd2{
    margin-top: 3vh;
  }
  .container {
      padding: 2rem;
  }
  .flex-wrap {
      flex-direction: column;
      align-items: center;
  }
  .outer {
      flex-direction: column;
      align-items: center;
  }
  .flip-box {
      width: 100%;
      max-width: 300px;
      margin: 1rem 0; /* Adjust spacing between flip cards */
  }
  .flip-box-inner {
      width: 70%;
  }
  .hd2{
      margin-left: 3vh; /* Adjust or remove this based on your design */
  }
  .flip-box-front img,
  .flip-box-back img {
      max-width: 120% !important;
      height: auto;
      border-radius: 50%;
  }
}

/* Adjust image border radius for larger screens */
.flip-box-front img,
.flip-box-back img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Center flip card content vertically */
.flip-box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Center flip card text content horizontally */
.flip-box-back h2,
.flip-box-back p {
  text-align: center;
}

